@model IEnumerable<med_test8.Models.ReferralView>

@{
    ViewData["Title"] = "Index";
}

<style>

    body {
        font-family: Arial, sans-serif;
        background-color: #FFFFFF;
        color: #000000;
    }


    .table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

        .table th, .table td {
            border: 1px solid #DDDDDD;
            padding: 8px;
            text-align: left;
        }


    thead {
        background-color: #C8102E;
        color: #FFFFFF;
    }

    th {
        font-weight: bold;
    }


    tbody tr:nth-child(odd) {
        background-color: #F2F2F2;
    }

    tbody tr:hover {
        background-color: #EAEAEA;
    }


    a {
        color: #C8102E;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

<h1>Referrals</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Referring Doctor
            </th>
            <th>
                Referred Specialist
            </th>
            <th>
                Patient Name
            </th>
            <th>
                Speciality
            </th>
            <th>
                Referral Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.primary_doctor_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.specialist_doctor_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.patient_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.speciality_classification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.referral_date)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.referral_id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
