@model IEnumerable<WebApplication3.Models.VaccinationView>

@{
    ViewData["Title"] = "Index";
}

<style>

    body {
        font-family: Arial, sans-serif;
        background-color: #FFFFFF;
        color: #000000;
    }


    .table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

        .table th, .table td {
            border: 1px solid #DDDDDD;
            padding: 8px;
            text-align: left;
        }


    thead {
        background-color: #C8102E;
        color: #FFFFFF;
    }

    th {
        font-weight: bold;
    }


    tbody tr:nth-child(odd) {
        background-color: #F2F2F2;
    }

    tbody tr:hover {
        background-color: #EAEAEA;
    }


    a {
        color: #C8102E;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

<h1>Index</h1>

<p>
    <a asp-action="CreateVaccine">Submit Vaccine Form</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vaccine_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date_administered)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vaccine_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_administered)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.vaccination_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.vaccination_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.vaccination_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
