@model TrialRun.Models.Notifications

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Notifications</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patient_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patient_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.created_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.created_at)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_read)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_read)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.notification_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
