@model MedicalWebApp.Models.MedicalHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MedicalHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiagnosisInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiagnosisInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Surgeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Surgeries)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medication)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medication)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Allergies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Allergies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.PatientId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MedicalHistoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
