@model IEnumerable<TrialRun.Models.Invoices>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.patient_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.insurance_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.insurance_deduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.copay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.due_date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.patient_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.insurance_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.insurance_deduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.copay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.due_date)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.invoice_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.invoice_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.invoice_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
