@model IEnumerable<med_test8.Models.Our_Providers>

@{
    ViewData["Title"] = "Index";
}

<style>

    .custom-button {
        max-width: 200px; /* Adjust the maximum width as needed */
        margin: 0; /* Center the container */
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #FFFFFF;
        color: #000000;
    }


    .table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

        .table th, .table td {
            border: 1px solid #DDDDDD;
            padding: 8px;
            text-align: left;
            font-size: 15px;
        }


    thead {
        background-color: #C8102E;
        color: #FFFFFF;
    }

    th {
        font-weight: bold;
    }


    tbody tr:nth-child(odd) {
        background-color: #F2F2F2;
    }

    a {
        color: #C8102E;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

<div style="padding-bottom: 20px;"></div>

<div class="shadowed-site-container">
<div class="container">
    <h1>Our Providers</h1>



        <h4> Filters:</h4>

        <div class="form-container">
            <form asp-action="Index" asp-controller="Our_Providers" method="get">

                <select name="officeLocation" id="officeLocation">
                    <option value="">All Locations</option>
                    <option value="Galveston">Galveston</option>
                    <option value="Houston">Houston</option>
                    <option value="Katy">Katy</option>
                    <option value="Pasadena">Pasadena</option>
                    <option value="Missouri City">Missouri City</option>
                    <option value="Sugarland">Sugarland</option>
                </select>


                <select name="classification" id="classification">
                    <option value="">All Classifications</option>
                    <option value="Cardiology">Cardiology</option>
                    <option value="Family Medicine">Family Medicine</option>
                    <option value="Neurology">Neurology</option>
                    <option value="Pediatrics">Pediatrics</option>
                    <option value="Orthopedics">Orthopedics</option>
                    <option value="Gastroenterology">Gastroenterology</option>
                    <option value="Radiology">Radiology</option>
                    <option value="Endocrinology">Endocrinology</option>
                    <option value="Oncology">Oncology</option>
                    <option value="Dermatology">Dermatology</option>
                    <option value="Nurse">Nurse</option>
                </select>

                <select name="Gen" id="Gen">
                    <option value="">All Genders</option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                </select>

                <button type="submit" style="background-color: #238cff; color: white;">Filter</button>
            </form>

        </div>

        <div class="" style="padding:20px"></div>



    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Full Name
                </th>
                <th>
                    Office
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Email
                </th>
                <th>
                    Classification
                </th>
               
                <th>
                    Gender
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Office)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classification)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.gender)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>




</div>