@model IEnumerable<TrialRun.Models.PatientAppointmentII>

@{
    ViewData["Title"] = "Scheduled Appointments";
}

<style>
    .buttons {
        max-width: 200px; /* Adjust the maximum width as needed */
        margin: 0; /* Center the container */
    }

    .container {
        position: relative;
    }

    .table {
        width: 80%;
        margin: 20px auto; /* Center the table horizontally and provide space at the top */
        border-collapse: collapse;
    }

        .table th, .table td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            height: 40px;
        }

        .table th {
            background-color: #f18383;
            color: white;
        }

        .table tr:hover {
            background-color: #fff2cc;
        }

        .table td {
            background-color: #ffe7e7;
        }

        .table a span {
            display: inline-block;
            margin-left: 5px;
            vertical-align: middle;
        }

            .table a span::before {
                font-size: 10px;
            }

        .table a.desc span::before {
            content: "\25bc";
        }

    .form-container {
        max-width: 300px;
        margin: 20px auto; /* Center the form horizontally */
        display: flex;
        justify-content: space-between; /* Adjust as needed */
    }

</style>

<h1>Scheduled Appointments<h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.patient_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorOffice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.patient_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorOffice)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
