@model IEnumerable<med_test8.Models.Doctor_List>

@{
    ViewData["Title"] = "Index";
}

<h3 class="less-bold">Doctors</h3>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Office)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.classification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Office)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.classification)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.doctor_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.doctor_id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
