@model WebApplication3.Models.NewReferrals

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Referrals</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.primary_doctor_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.primary_doctor_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.specialist_doctor_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.specialist_doctor_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.speciality_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.speciality_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.referral_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.referral_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patient_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patient_id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.referral_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
