@model WebApplication3.Models.AppointmentHealthInformation

@{
    ViewData["Title"] = "Delete";
}

<style>
    .form-container {
        max-width: 600px; /* Adjust the maximum width as needed */
        margin: 0 auto; /* Center the container */
    }

    .buttons {
        max-width: 200px; /* Adjust the maximum width as needed */
        margin: 0; /* Center the container */
    }
</style>

<div style="padding-bottom: 20px;"></div>

<div class="shadowed-site-container">

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>combined_health_view</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.weight_lbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.weight_lbs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.height_inches)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.height_inches)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.heart_rate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.heart_rate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.systolic_pressure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.systolic_pressure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.diastolic_pressure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.diastolic_pressure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.temperature_fahrenheit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.temperature_fahrenheit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.smoke_or_vape)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.smoke_or_vape)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.consume_alcohol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.consume_alcohol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.allergies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.allergies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nurse_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nurse_id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="appointment_id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</div>