@model IEnumerable<MedicalWebApp.Models.DoctorsPatientList>

@{
    ViewData["Title"] = "Index";
}

<style>

    body {
        font-family: Arial, sans-serif;
        background-color: #FFFFFF;
        color: #000000;
    }


    .table {
        border-collapse: collapse;
        width: 100%;
        margin-top: 20px;
    }

        .table th, .table td {
            border: 1px solid #DDDDDD;
            padding: 8px;
            text-align: left;
        }


    thead {
        background-color: #C8102E;
        color: #FFFFFF;
    }

    th {
        font-weight: bold;
    }


    tbody tr:nth-child(odd) {
        background-color: #F2F2F2;
    }

    tbody tr:hover {
        background-color: #EAEAEA;
    }


    a {
        color: #C8102E;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

<h1>Your Patient List</h1>

<!-- doctors cannot add or delete patients. This is a job for admin
    removing deletion/edit/creation pages. This page will only
    be used so doctors can view past/current patients under their care -->
<table class="table">
<thead>
    <tr>
        <th>
            Patient First Name
        </th>
        <th>
            Middle Initial
        </th>
        <th>
            Last Name
        </th>
        <th>
            Address
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Gender
        </th>
        <th>
            DOB
        </th>
        <th>
            Email
        </th>
        <!-- removing balance view since doctors are not responsible
            for taking payment from patients. This would be something
            to be viewed and discussed by admin -->
    </tr>
</thead>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientMiddleInitial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientDateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorEmail)
            </td>

                <!-- getting rid of details. Reports don't have extra detail links -->

        </tr>
    }
</tbody>
</table>
