@page "/Dashboards/DoctorDashboard"
@model MedicalWebApp.Pages.Dashboards.DoctorDashboardModel

@{
    var dbContext = new team12MainContext(); // Replace with your actual DbContext
    var userEmail = User.Identity.Name;
    var user = dbContext.Doctors.FirstOrDefault(p => p.Email == userEmail);
}

<h2>Welcome, Dr. @user.LastName!</h2>

<h5>This is your dashboard. View patient appointments, medical records, and more.</h5>

<div class="container">

    <main role="main">
        <div class="square-container">
            <div class="buttons-container">
                <h3> Navigation </h3>
                <button onclick="location.href='@Url.Action("Index", "Doctor_Appointment")'" class="custom-button" type="button">Check out upcoming Appointments</button>
                <button onclick="location.href='@Url.Action("Index", "Patient_List_For_Doctor")'" class="custom-button" type="button">Patient List</button>
                <button onclick="location.href='@Url.Action("Index", "MedicalHistory")'" class="custom-button" type="button">Medical History</button>
                <button onclick="location.href='@Url.Action("Index", "Test")'" class="custom-button" type="button">Tests</button>
                

            </div>
            <div class="square"></div>
        </div>
    </main>
</div>
